@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
section {
  background-color: #EEF2F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1366px) {
  section {
    padding-top: 60px;
  }
}
section .quesgtion_mark {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  background: #369EA4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section .container .login-form {
  background: #FFF;
  box-shadow: 0px 0px 16px 0px #A1D2D5;
  padding: 80px 40px;
  min-height: 453px;
  color: #369EA4;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 85.714% */
  letter-spacing: -0.5px;
}
@media screen and (max-width: 575px) {
  section .container .login-form {
    padding: 40px 20px;
  }
}
section .container .login-form .form-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container .login-form form {
  align-items: center;
}
section .container .login-form form input, section .container .login-form form select {
  border-radius: 24px;
  border: none;
  background: #EEF2F6;
  color: #086F76;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
section .container .login-form form input option, section .container .login-form form select option {
  background: #FBFCFD;
  outline: none;
  border-radius: 12px;
  border: 0px solid transparent;
  color: #369EA4;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
section .container .login-form form input option:hover, section .container .login-form form select option:hover {
  background: #369EA4;
  outline: none;
  border-radius: 12px;
  border: 0px solid transparent;
  color: #FBFCFD;
}
section .container .login-form form input:focus, section .container .login-form form select:focus {
  outline: none;
  box-shadow: none;
}
section .container .login-form form button {
  border-radius: 4px;
  padding: 10px;
  background: #369EA4;
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
section footer {
  margin-top: 100px;
}
section footer .footer_position {
  margin-top: 64px;
}
section footer .footer_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #339FA4;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 200% */
}
section footer .footer_container h5 {
  font-size: 12px;
}
section footer .footer_container h5 span {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
section footer .footer_container p {
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */