@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login_section {
  background-color: #EEF2F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 70px;
  .quesgtion_mark{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: #369EA4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .container {
    .login-form {
      background: #FFF;
      box-shadow: 0px 0px 16px 0px #A1D2D5;
      padding: 80px 40px;
      @media screen and (max-width:575px) {
        padding: 40px 20px;
      }
      min-height: 453px;
      color: #369EA4;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px; /* 85.714% */
      letter-spacing: -0.5px;
      .form-main-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      form{
        align-items: center;
        input, select{
          border-radius: 24px;
          border: none;
          background: #EEF2F6;
          color: #086F76;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          option{
            background: #FBFCFD;
            outline: none;
            border-radius: 12px;
            border: 0px solid transparent;
            color: #369EA4;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            &:hover{
              background: #369EA4;
              outline: none;
              border-radius: 12px;
              border: 0px solid transparent;
              color: #FBFCFD;
            }
          }
          &:focus{
            outline: none;
            box-shadow: none;
          }
        }
        button{
          border-radius: 4px;
          padding: 10px;
          background: #369EA4;
          color: #FFF;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }
    }
  }
  footer{
    margin-top: 100px;
    .footer_position{
      margin-top: 64px;
    }
    .footer_container{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #339FA4;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 200% */
      h5{
        font-size: 12px;
        span{
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background: #fff;
          justify-content: center;
          align-items: center;
          margin: 0 8px;
        }
      }
      p{
        font-size: 10px;
      }
    }
  }
}

.dashboard_section{
  background-color: #ffffff;
  .custom_container{
    padding: 30px;
    max-width: 1920px;
    min-height: 100vh;
    @media screen and (max-width:1366px) {
      padding: 20px;
    }
    .custom_col_nav{
      border-radius: 24px;
      background: #369EA4;
      min-height: 100vh;
      position: relative;
      
      box-shadow: 3px 3px 5px 0px #EEF2F6;

      .lgog_div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      ul{
        list-style: none;
        padding: 20px;
        margin-bottom: 100px;
        li{
          padding: 20px 0;
          color: #FFF;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px; /* 85.714% */
          letter-spacing: -0.5px;
          cursor: pointer;
        }
      }
      .footer_nav{
        width: 100%;
        height: 88px;
        position: absolute;
        bottom: 0;
        left: 0;
        flex-shrink: 0;
        border-radius: 24px;
        background: #fff;
       
      }
      @media screen and (max-width:1299px) {
        max-width: 90px;
          &.open{
            max-width: 260px;
            transition: 0.5s all;
            a{
              svg{
                margin: 0 10px;
              }
              span{
                display: contents;
              }
            }
            .footer_nav_icon{
              margin-top: -28px;
              .foote_nav_menu{
                display: flex;
              }
            }
          }
          .footer_nav_icon{
            margin-top: 10px;
            .svg_img{
              padding: 10px;
              border-radius: 50%;
              background: #fff;
              height: 56px;
              width: 56px;
              margin: auto;
            }
            .foote_nav_menu{
              display: none;
              justify-content: center;
              align-items: center;
              img{
                margin: 10px;
              }
            }
          }
          ul{
            li{
              a{
                svg{
                  margin: 0;
                }
              }
              span{
                display: none;
              }
            }
          }
      }
      @media screen and (min-width:1300px) {
        max-width: 290px;
          ul{
            li{
              a{
                svg{
                  margin: 0 10px;
                }
              }
            }
          }
          .footer_nav_icon{
            margin-top: -28px;
            .svg_img{
              padding: 10px;
              border-radius: 50%;
              background: #fff;
              height: 56px;
              width: 56px;
              margin: auto;
            }
            .foote_nav_menu{
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                margin: 10px;
              }
            }
          }
      }
    }
    .custom_col_dashboard{
      img{
        max-height: 24px;
        margin: 10px;
      }
      input#search {
        background-image: url("./searchIcon.png");
        background-repeat: no-repeat;
        background-position: 5px;
        text-indent: 20px;
        height: 45px;
        width: 100%;
        max-width: 650px;
        display: flex;
        border-radius: 66px;
        border: 1px solid #369EA4;
        padding: 12px;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        color: #369EA4;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        &:focus-visible{
          outline: none;
        }
      }
    }
    .custom_col_right{
      max-width: 290px;
      .welcome_back{
        width: 100%;
        height: 88px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 24px;
        background: #CDE7E8;
        .svg_img{
          padding: 10px;
          border-radius: 50%;
          box-shadow: 0px 0px 16px 0px #A1D2D5;
          margin: 0 10px;
        }
        h3{
          color: #369EA4;
          text-align: center;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 12px; /* 75% */
          letter-spacing: -0.5px;
        }
      }
      .action_to_complete{
        width: 100%;
        @media screen and (min-width:1399px) {
          min-height: 400px;
        }
        flex-shrink: 0;
        border-radius: 24px;
        background: #fff;
        .top_part{
          border-radius: 24px 24px 0px 0px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: #369EA4;
          padding: 10px;
          .svg_img{
            padding: 10px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            background: #fff;
            box-shadow: 0px 0px 16px 0px #A1D2D5;
            margin: 0 10px;
          }
          h3{
            color: #EEF2F6;
            font-feature-settings: 'clig' off, 'liga' off;

            /* Poppins Header */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px; /* 75% */
            letter-spacing: -0.5px;
          }
        } 
      }
    }
  }
}